/Proyecto 2 SD/nbproject/private/
/Proyecto SD S-Estadistcas/IServidorEstadistica/nbproject/private/
/Proyecto SD S-Estadistcas/ImplementacionEstadistica/nbproject/private/
/Proyecto SD S-Estadistcas/IServidorEstadistica/build/
/Proyecto SD S-Estadistcas/OpcionesEstadistica/nbproject/private/
/Proyecto SD S-Estadistcas/ImplementacionEstadistica/build/
/Proyecto SD S-Estadistcas/ServidorEstadistica/nbproject/private/
/Proyecto SD S-Estadistcas/ImplementacionEstadistica/dist/
/Proyecto SD S-Estadistcas/ServidorEstadistica/build/
/Proyecto SD S-Estadistcas/ServidorEstadistica/dist/
/Proyecto SD 2/build/
/Proyecto SD 2/dist/
/Proyecto Cliente/nbproject/private/
/Proyecto Cliente/dist/
/Proyecto Cliente/build/